{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block navbar-list %}
    <li class="nav-item">
        <a class="nav-link mx-lg-2" href="{% url 'accounting_home' %}">{% trans "Summary" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mx-lg-2" href="{% url 'bills' %}">{% trans "Invoices" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mx-lg-2" href="{% url 'taxes' %}">{% trans "Taxes" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link mx-lg-2" href="{% url 'offers' %}">{% trans "Offers" %}</a>
    </li>
{% endblock %}