{% extends "pdf_base.html" %}
{% load i18n %}

{% block title %}PDF{% endblock %}

{% block styles %}
    {% load static %}
    <link href="{% static 'css/invoice.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{% trans "Invoice" %}</h1>

    <aside>
      <address id="from">
        {% block from %}
          Hotel Las Palmeras
          26 {% trans "calle Martínez Catena" %}
          69640 Fuengirola, Málaga
          {% trans "España" %}
        {% endblock %}
      </address>

      <address id="to">
        {% block to %}{% endblock %}
      </address>
    </aside>

    <dl id="informations">
      {% block information %}{% endblock %}
    </dl>

    <table>
      <thead>
        <tr>
          {% block expenditures_thead %}
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          {% endblock %}
        </tr>
      </thead>
      <tbody>
        {% block expenditures_body %}{% endblock %}
      </tbody>
    </table>

    <footer>
      <table id="total">
        <thead>
          <tr>
            {% block total_thead %}
              <th>Due by</th>
              <th>Total due</th>
            {% endblock %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% block total_body %}{% endblock %}
          </tr>
        </tbody>
      </table>
    </footer>
{% endblock %}