{% extends './invoice_pdf_base.html' %}
{% load i18n %}

{% block from %}
    Hotel Las Palmeras
    ISBN 0-7645-2641-3
    26 {% trans "calle Martínez Catena" %}
    69640 Fuengirola, Málaga
    {% trans "España" %}
{% endblock %}

{% block information %}
    <dt>Invoice number</dt>
    <dd>{{ bill.id }}</dd>
    <dt>Date</dt>
    <dd>{{ bill.reservation.date }}</dd>
{% endblock %}

{% block expenditures_body %}
    {% for item, quantity, price in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}€</td>
        <td>{{ quantity }}</td>
        <td>{{ price }}€</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block total_body %}
    <td>May 10, 2018</td>
    <td>{{ total }}€</td>
{% endblock %}