{% extends './reservations.html' %}

{% load i18n %}

{% block title %}Crear Check-in{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">{% trans "Reservation check-in:" %} {{ reservation. }}</h1>
        <form method="post" class="mt-4 form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation_id %}" class="btn btn-secondary">Back to Reservations</a>
        </form>
    </div>
{% endblock %}