{% extends 'base.html' %}
{% load i18n %}

{% block navbar-list %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'reservations_list' reservation_type='hotel' %}">{% trans "Room reservations" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reservations_list' reservation_type='restaurant' %}">{% trans "Restaurant reservations" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cancelled_reservations_list' reservation_type='hotel' %}">{% trans "Cancelled room reservations" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cancelled_reservations_list' reservation_type='restaurant' %}">{% trans "Cancelled restaurant reservations" %}</a>
    </li>
{% endblock %}