{% extends './reservations.html' %}

{% block title %}Cancelar Chec-in{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Cancelar check-in</h1>
        <form method="post" class="mt-4 form-control">
            {% csrf_token %}
            <p>¿Estás seguro que quieres cancelar el check-in: "{{ check_in }}"?</p>
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation_id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}