{% extends './administration_base.html' %}
{% load i18n %}
{% block title %}Lista de reservas{% endblock %}

{% block styles %}
    <style>
        .nav-pills .nav-link {
            color: black;
            transition: color 0.2s ease;
        }

        .nav-pills .nav-link:hover {
            color: white;
        }

        .nav-pills .nav-link.btn {
            border-radius: 20px;
            background-color: #C0C0C0;
            transition: background-color 0.2s ease;
        }

        .nav-pills .nav-link.btn:hover {
            background-color: blue;
        }

        .nav-pills .nav-link.btn:focus,
        .nav-pills .nav-link.btn.active {
            background-color: darkblue;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-end">
                    <form method="post" class="input-group">
                        {% csrf_token %}
                        <div class="form-outline">
                            <input type="search" name="query" class="form-control" placeholder="{% trans 'Search' %}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <a href="{% url 'add_reservation' reservation_type=reservation_type %}" class="mt-4 btn btn-primary">{% trans "Add Reservation" %}</a>
                </div>

                {% if query == '-1' and reservation_type == 'hotel' %}
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="mt-5">{% trans "Ceck-Out for today" %}</h1>
                    </div>
                    <ul class="list-group">
                        {% for reservation in check_outs %}
                            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}"><li class="list-group-item">{{ reservation }}</li></a>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1>
                        {% if reservation_type == 'hotel' %}
                            {% trans "Room reservation list" %}
                        {% else %}
                            {% trans "Restaurant reservation list" %}
                        {% endif %}
                    </h1>
                    <a href="{% url 'add_reservation' reservation_type=reservation_type %}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> {% trans "Add Reservation" %}
                    </a>
                </div>

                <form method="post" class="input-group mb-4">
                    {% csrf_token %}
                    <input type="search" name="query" class="form-control" placeholder="{% trans 'Search' %}" required>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </form>

                {% if query == '-1' and reservation_type == 'hotel' %}
                    <h1 class="mt-5">{% trans "Check-Out today" %}</h1>
                    <hr>
                    <div class="accordion shadow" id="checkOutAccordion">
                        {% for reservation in check_outs %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="checkOutHeading{{ reservation.id }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#checkOutCollapse{{ reservation.id }}" aria-expanded="true" aria-controls="checkOutCollapse{{ reservation.id }}">
                                        {{ reservation }}
                                    </button>
                                </h2>
                                <div id="checkOutCollapse{{ reservation.id }}" class="accordion-collapse collapse" aria-labelledby="checkOutHeading{{ reservation.id }}" data-bs-parent="#checkOutAccordion">
                                    <div class="accordion-body">
                                        <p><strong>{% trans "DNI" %}:</strong> {{ reservation.dni }}</p>
                                        <p><strong>{% trans "Room number" %}:</strong> {{ reservation.room_number }}</p>
                                        <div class="mt-3">
                                            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-primary me-2">
                                                <i class="fas fa-eye"></i> {% trans "Details" %}
                                            </a>
                                            <!--
                                            <a href="{% url 'edit_reservation' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-warning me-2">
                                                <i class="fas fa-edit"></i> {% trans "Edit" %}
                                            </a>
                                            <a href="{% url 'delete_reservation' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-danger">
                                                <i class="fas fa-trash-alt"></i> {% trans "Delete" %}
                                            </a>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>{% trans "No more Check-Out today." %}</p>
                        {% endfor %}
                    </div>

                    <h1 class="mt-5">{% trans "Check-In for today" %}</h1>
                    <hr>
                    <div class="accordion shadow" id="checkInAccordion">
                        {% for reservation in check_ins %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="checkInHeading{{ reservation.id }}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#checkInCollapse{{ reservation.id }}" aria-expanded="true" aria-controls="checkInCollapse{{ reservation.id }}">
                                        {{ reservation }}
                                    </button>
                                </h2>
                                <div id="checkInCollapse{{ reservation.id }}" class="accordion-collapse collapse" aria-labelledby="checkInHeading{{ reservation.id }}" data-bs-parent="#checkInAccordion">
                                    <div class="accordion-body">
                                        <p><strong>{% trans "DNI" %}:</strong> {{ reservation.dni }}</p>
                                        <p><strong>{% trans "Room number" %}:</strong> {{ reservation.room_number }}</p>
                                        <div class="mt-3">
                                            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-primary me-2">
                                                <i class="fas fa-eye"></i> {% trans "Details" %}
                                            </a>
                                            <!--
                                            <a href="{% url 'edit_reservation' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-warning me-2">
                                                <i class="fas fa-edit"></i> {% trans "Edit" %}
                                            </a>
                                            <a href="{% url 'delete_reservation' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-danger">
                                                <i class="fas fa-trash-alt"></i> {% trans "Delete" %}
                                            </a>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>{% trans "No more Chec-In today." %}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <h1 class="mt-5">{{ header }}</h1>
                <hr>
                <div class="accordion shadow" id="reservationAccordion">
                    {% for reservation in reservations %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ reservation.id }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ reservation.id }}" aria-expanded="true" aria-controls="collapse{{ reservation.id }}">
                                    {{ reservation }}
                                </button>
                            </h2>
                            <div id="collapse{{ reservation.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ reservation.id }}" data-bs-parent="#checkInAccordion">
                                <div class="accordion-body">
                                    {% if reservation_type == 'hotel' %}
                                        <p><strong>{% trans "DNI" %}:</strong> {{ reservation.dni }}</p>
                                        <p><strong>{% trans "Room number" %}:</strong> {{ reservation.room_number }}</p>
                                    {% else %}
                                        <p><strong>{% trans "Name" %}:</strong> {{ reservation.name }}</p>
                                        <p><strong>{% trans "People" %}:</strong> {{ reservation.number_of_people }}</p>
                                    {% endif %}
                                    <div class="mt-3">
                                        <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-primary me-2">
                                            <i class="fas fa-eye"></i> {% trans "Details" %}
                                        </a>
                                        <!--
                                        <a href="{% url 'edit_reservation' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-warning me-2">
                                            <i class="fas fa-edit"></i> {% trans "Edit" %}
                                        </a>
                                        <a href="{% url 'delete_reservation' reservation_type=reservation_type reservation_id=reservation.id %}" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i> {% trans "Delete" %}
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {% if query == '-1' %}
                        <p>{% trans "No reservations found." %}</p>
                        {% else %}
                        <p>{% trans "No reservations found matching the search" %} "{{ query }}".</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}