{% extends './administration_base.html' %}
{% load i18n %}
{% block title %}Lista de reservas{% endblock %}

{% block styles %}
    <style>
        .nav-pills .nav-link {
            color: black;
            transition: color 0.2s ease;
        }

        .nav-pills .nav-link:hover {
            color: white;
        }

        .nav-pills .nav-link.btn {
            border-radius: 20px;
            background-color: #C0C0C0;
            transition: background-color 0.2s ease;
        }

        .nav-pills .nav-link.btn:hover {
            background-color: blue;
        }

        .nav-pills .nav-link.btn:focus,
        .nav-pills .nav-link.btn.active {
            background-color: darkblue;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-end">
                    <form method="post" class="input-group">
                        {% csrf_token %}
                        <div class="form-outline">
                            <input type="search" name="query" class="form-control" placeholder="{% trans 'Search' %}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <a href="{% url 'add_reservation' reservation_type=reservation_type %}" class="mt-4 btn btn-primary">{% trans "Add Reservation" %}</a>
                </div>

                {% if query == '-1' %}
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="mt-5">{% trans "Ceck-Out for today" %}</h1>
                    </div>
                    <ul class="list-group">
                        {% for reservation in check_outs %}
                            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}"><li class="list-group-item">{{ reservation }}</li></a>
                        {% empty %}
                            <li class="list-group-item">{% trans "No more check-out today." %}</li>
                        {% endfor %}
                    </ul>

                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="mt-5">{% trans "Ceck-In for today" %}</h1>
                    </div>
                    <ul class="list-group">
                        {% for reservation in check_ins %}
                            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}"><li class="list-group-item">{{ reservation }}</li></a>
                        {% empty %}
                            <li class="list-group-item">{% trans "No more check-in today." %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mt-5">{{ header }}</h1>
                </div>
                <ul class="list-group">
                    {% for reservation in reservations %}
                        <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}"><li class="list-group-item">{{ reservation }}</li></a>
                    {% empty %}
                        {% if query == '-1' %}
                        <li class="list-group-item">{% trans "No reservations found." %}</li>
                        {% else %}
                        <li class="list-group-item">{% trans "No reservations found that matches the search" %} "{{ query }}".</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}