{% extends 'base.html' %}

{% block content %}
    
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

        
    <div class="container-fluid">
        <form action="{% url 'register' %}" method="POST" class="mx-auto login">
            
            {%  csrf_token %}
            <h4 class="text-center">Register</h4>
            <br><br>
            {{ form.as_p }}
            <br><br>
            <input type="submit" value="Submit" class="btn btn-primary">


        </form>
    </div>
    
{% endblock %}