{% extends './restaurant_base.html' %}
{% load i18n %}

{% block title %}{% trans "Bill detail" %}{% endblock %}

{% block content %}
    {% for item in items %}
    <div class="card floating-restaurant-card" style="width: 18rem;">
        <img src="{{ item.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.price }}€</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}