{% extends 'base.html' %}

{% block navbar-list %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'reservations_list' reservation_type='hotel' %}">Reservas de las habitaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reservations_list' reservation_type='restaurant' %}">Reservas del restaurante</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">
            {% if reservation_type == 'hotel' %}
                Nueva reserva de habitación
            {% else %}
                Nueva reserva de restaurante
            {% endif %}
        </h1>
        <form method="post" class="mt-4 form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'reservations_list' reservation_type=reservation_type %}" class="btn btn-secondary">Back to Reservations</a>
        </form>
    </div>
{% endblock %}