{% extends 'base.html' %}

{% block title %}Lista de reservas canceladas{% endblock %}

{% block styles %}
    <style>
        .nav-pills .nav-link {
            color: black;
            transition: color 0.2s ease;
        }

        .nav-pills .nav-link:hover {
            color: white;
        }

        .nav-pills .nav-link.btn {
            border-radius: 20px;
            background-color: #C0C0C0;
            transition: background-color 0.2s ease;
        }

        .nav-pills .nav-link.btn:hover {
            background-color: blue;
        }

        .nav-pills .nav-link.btn:focus,
        .nav-pills .nav-link.btn.active {
            background-color: darkblue;
        }
    </style>
{% endblock %}

{% block navbar-list %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'reservations_list' reservation_type='hotel' %}">Reservas de las habitaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reservations_list' reservation_type='restaurant' %}">Reservas del restaurante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cancelled_reservations_list' reservation_type='hotel' %}">Reservas de habitaciones canceladas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cancelled_reservations_list' reservation_type='restaurant' %}">Reservas del restaurante canceladas</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mt-5">{{ header }}</h1>
                    <a href="{% url 'add_reservation' reservation_type=reservation_type %}" class="mt-4 btn btn-primary">Add Reservation</a>
                </div>
                <ul class="list-group">
                    {% for reservation in reservations %}
                        <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation.id %}"><li class="list-group-item">{{ reservation }}</li></a>
                    {% empty %}
                        <li class="list-group-item">No se ha encontrado ninguna reserva.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}