{% extends 'reservations.html' %}

{% block title %}Editar reserva{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">
            {% if reservation_type == 'hotel' %}
                Editar reserva de habitación
            {% else %}
                Editar reserva de restaurante
            {% endif %}
        </h1>
        <form method="post" class="mt-4 form-control">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'reservation_detail' reservation_type=reservation_type reservation_id=reservation_id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}