{% extends 'base.html' %}
{% load i18n %}

{% block title %}Inicio{% endblock %}

{% block navbar-list %}
{% if is_worker %}
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'clients_home' %}">{% trans "Client's view" %}</a>
</li>
{% endif %}
{% if is_receptionist %}
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'reservations_list' reservation_type='hotel' %}">{% trans "Reception" %}</a>
</li>
{% endif %}
{% if is_restaurant %}
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'restaurant_home' %}">{% trans "Restaurant" %}</a>
</li>
{% endif %}
{% if is_cleaner %}
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'cleaning_home'%}">{% trans "Cleaning" %}</a>
</li>
{% endif %}
{% if is_accountant %}
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'accounting_home' %}">{% trans "Administration" %}</a>
</li>
{% endif %}
{% if is_superuser %}
<li class="nav-item">
    <a class="nav-link mx-lg-2" href="{% url 'superuser_home' %}">{% trans "Superuser" %}</a>
</li>
{% endif %}
{% endblock %}

{% block content %}

    <section class="hero-section">
        <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
            <h1>{% trans "Las Palmeras hotel" %}</h1>
            <h2>{% trans "Home" %}</h2>
        </div>
    </section>
{% endblock %}